[2016-06-26 15:40] ilyaglow opened #1 "Multiple $GOPATHs?"
Hey there, I'm stucked with the problem: how could I use different go versions with different packages and imports to archieve some kind of gemsets that ruby can do.

I have an idea of changing `$GOPATH` env variable when I switch to different go version but I can't figure out what the actual path might be. Probably like:
 `$ASDF_INSTALL_PATH/../projects` ?

Maybe we should handle `$GOPATH` global

[2016-11-13 20:17] jesse-c opened #4 "Regex missing patch in version number"
When running `asdf list-all golang` it includes results such as `1.7.freebsd-amd64` which is missing the patch number. It should be `1.7.3.freebsd-amd64`

[2017-07-31 18:28] sadir opened #5 "Dynamically setting $GOROOT based on go version in use."
Hi,

When installing go via asdf-golang, I have found you need to update your `$GOROOT` environment variable as by default Go expects to be installed in `/usr/local/go/`, but asdf installs it into `~/.asdf/shims/go` (well, `~/.asdf/installs/golang/` really).

Can we have `$GOROOT` automatically updated based on the go version in use in the project?

For how I discovered this, please see [this issu

[2017-08-28 18:47] joshwlewis opened #6 "Go 1.9 not available in in list-all"
It looks as though Go 1.9 is missing from `list-all`.

[code]

However, since the `install` command doesn't attempt to read XML contents and just constructs the url, it works fine:

[code]

[2017-08-28 18:49] joshwlewis commented on #6
It looks like 1.9 is missing from the data at `https://storage.googleapis.com/golang`.

[2017-08-28 19:02] joshwlewis commented on #6
Filed an issue [here](https://github.com/golang/go/issues/21667).

[2017-08-28 20:09] joshwlewis commented on #6
It looks like `list-all` needs to be updated with pagination: https://github.com/golang/go/issues/21667#issuecomment-325465134.

[2017-10-28 16:02] sadir commented on #5
For anyone who stumbles across this, [here](https://github.com/sadir/bash-config/blob/master/etc/profile.d/golang.sh) is how I got around this problem.

[2017-11-17 21:34] #6 closed

[2017-11-17 21:36] kennyp commented on #1
I think #2 should get you what you need unless I'm misunderstanding what you are looking for.

[2017-11-17 21:36] #1 closed

[2017-11-21 15:44] bradylove commented on #5
This would be really convenient to have.

@sadir your link for the work around is giving a 404. Do you still have that somewhere?

[2017-11-21 15:48] sadir commented on #5
@bradylove Good point - I've updated the link above.

[2017-12-04 19:05] mdesantis opened #8 "`asdf list-all golang` is broken"
Plugin just installed.

When I run `asdf list-all golang` I get this error:

[code]

[2017-12-06 18:21] daenney opened #9 "Breaks when golang version is set to 'system'"
When you set a `asdf global golang system` the `ASDF_INSTALL_PATH` will be empty,  resulting in a `GOROOT`' of `/go` which fails. Not setting the `GOROOT` when the version is `system` avoids this problem.

Simply not setting `GOROOT` at all in `exec-env` seems to do the right thing by default. When my go version is set to system it correctly grabs `/usr/lib/go` but when it's an asdf installed go v

[2017-12-06 18:28] daenney commented on #9
Ah, it doing the right thing by default happens when Go >= 1.9 as a relocated GOROOT is now detected.

[2017-12-06 20:16] daenney commented on #9
This should be fixed with #10

[2018-01-19 22:07] kennyp commented on #8
Hey @mdesantis, I'm not able to reproduce on any of my machines. Can you give me particulars on what OS and such that you're using?

[2018-01-19 22:08] #9 closed

[2018-01-19 22:11] kennyp commented on #5
I believe this was fixed by https://github.com/kennyp/asdf-golang/pull/2.

Let me know if you're still having issues.

[2018-01-19 22:11] #5 closed

[2018-01-20 09:18] mdesantis commented on #8
Hi @kennyp , I was using fish shell on Ubuntu 16.04, but on this pc it works now. I'll check on the other PC and let you know more details

[2018-01-22 14:28] kennyp commented on #8
Hey @mdesantis, I haven't tried fish in a while. I used Ubuntu 16.04 on my work box. I'll give it a try with fish there and see what happens.

[2018-01-22 14:38] kennyp commented on #4
The patch version not showing was fixed with #7 although, the install script doesn't support freebsd yet. I'm working on a fix for that separately. Thanks!

[2018-01-22 14:38] #4 closed

[2018-01-22 14:47] kennyp commented on #8
So, it didn't fail on my box with fish either, but I did do a little digging and found out that since `pipefail` wasn't available until Bash v3 it could be that using an older version of bash would cause that error.

In commit d34f928 I added a check for Bash version that should fix this.

[2018-01-22 14:47] #8 closed

[2018-01-22 15:02] jesse-c commented on #4
Sounds good, thanks for your work!

[2018-01-22 15:47] kennyp commented on #4
@jesse-c Not sure if you're actually using FreeBSD, but 0199441 allows for it. If you're on a BSD system I would appreciate it if you could test it out and let me know if you have any issues.

[2018-01-22 19:11] jesse-c commented on #4
It's been a while since I've touched my FreeBSD box where I think I was using it! If I find some time I'll try and test it out and let you know.

[2018-01-24 01:39] mrinalwadhwa opened #13 "install failed on osx"
[code]

[2018-01-24 15:03] kennyp commented on #13
@mrinalwadhwa It looks like your PR would work on my osx box, but I end up with something like `/path/to/temp/asdf-golang.XXXX.asaAGGLA`, because the `X`s aren't replaced like they are on my Linux box. What version of OSX and mktemp are you using?

[2018-01-24 15:27] mrinalwadhwa commented on #13
Looks like my mktemp came from coreutils via homebrew

[code]

[code]

[code]

[code]

[2018-01-24 15:36] kennyp commented on #13
Ahh, so it is GNU's mktemp. That makes sense. I'll go ahead and merge since the extra `.XXXX` doesn't hurt anything for folks using the BSD mktemp.

[2018-01-24 15:37] #13 closed

[2018-01-24 15:39] mrinalwadhwa commented on #13
I tried removing coreutils and the I get the behavior you observed
[code]
I also tried a debian machine
[code]

so potentially that entire if/else could be replaced with just
[code]

[2018-01-25 13:30] iJebus opened #15 "Integration with other tools"
How are other people handling integration with other tools, .e.g, vim-go? Running commands like `:GoInstallBinaries` are fine because they run `go` and then figure out the `GOPATH`, but `:GoDef` expects a `GOROOT` and fails. Not saying that this is an issue for this tool to resolve, just presumably I'm not the first person to run into this problem.

[2018-01-27 16:25] elderica opened #16 "install and list-all are not working"
I run `asdf install` and I got an error.

[code]

`asdf list-all golang` doesn't print any strings.

[code]

[2018-01-27 17:04] sbwhitecap commented on #16
I replace "storage.googleapis.com/golang" to "dl.google.com/go", and it  #works.
see: #17

[2018-02-02 19:28] kennyp commented on #16
Hmm, based on the error message it looks like a certificate issue. What do you get when you just run `curl https://storage.googleapis.com/golang`?

[2018-02-02 19:39] kennyp commented on #15
@iJebus I usually use something like [direnv](https://direnv.net/) to set env vars for each project. You can even do something like

[code]

if you just want to use the defaults.

[2018-02-03 12:21] sbwhitecap commented on #16
I'm using Arch Linux VM on Windows 10. Traffic scanning feature of my security software on Windows has blocked up curl's any TLS communications from VM.  Sorry.

[2018-02-04 03:46] #16 closed, assigned to nobody

[2018-02-05 01:35] iJebus commented on #15
Nice one.

[2018-02-05 01:35] #15 closed

[2018-02-18 14:54] trinode opened #18 "setting $PATH for installed versions"
Is there any way we could have the $PATH environment variable modified to include the bin folder from the go packages folder based on the selected version?

Eg if you install realize:

`go get github.com/tockins/realize`

it creates a binary:
`~/.asdf/installs/golang/1.10/packages/bin/realize`

and you should be able to simply run the command `realize` (but you can't since the `<selected go versio

[2018-02-21 23:32] kennyp commented on #18
Hey @trinode,

I believe if you run `asdf reshim golang` you should be able to use `realize`. It's a shim thing, not a `$PATH` thing.

Thanks,
-Kenny

[2018-02-23 20:29] #18 closed

[2018-03-02 23:02] austince opened #20 "Starting the environment doesn't add versions bin to path"
Can't access install go package executables.

Running on Ubuntu 16.04.
asdf v0.4.2

Steps to reproduce:
- Install a `<version>` of go
- `asdf local golang <version>` or `asdf global golang <version>`, doesn't matter
- `go get -u <some package>`
- Try to run that package

Tried with version 1.4, 1.5, 1.9 with the package `mvdan.cc/sh/cmd/shfmt`

[2018-04-04 17:08] saschahemleb commented on #20
Hey,

you probably need to reshim, did you try running `asdf reshim golang`?

[2018-05-03 04:43] #20 closed

[2018-09-25 16:23] carlca opened #22 "How to actually use asdf-golang..."
macOS 10.14 Mojave
go 1.11
asdf 0.5.1
asdg-golang latest

Hello, maybe I'm being really dim here, but after installing `asdf` and `asdf-golang`, and running `asdf global golang 1.10` to install `go 1.10` for testing purposes, I cannot figure out, nor can I actually find instructions on how to actually run golang source under `go 1.10`. `go version` still returns `go1.11 darwin/amd64`. I was under

[2018-09-25 16:49] carlca commented on #22
After selecting 1.10 with `asdf global golang 1.10`, I tried running the Go source I'm interested in with `go get github.com/icexin/gocraft` and received the following errors...

[code]

which to me indicates a horrible mismatch of Golang tool versions. Thankfully I seem to be able to switch back to `1.11` with `asdf global golang 1.11` back this is far from painless! What am I missing?

[2018-10-02 22:01] wlads commented on #22
Have you tried to recreate shims for version of a package?
`asdf reshim golang 1.10`

Also you shouldn't be changing the global version every time, if this version is for a specific project you can create a local version: `asdf local golang 1.10`

[2018-12-17 17:08] jamilbk commented on #22
I'm having the same issue trying to use Go `1.6.2` installed with this plugin. I think the problem is a path issue. It seems that the shim directory and the directory that Go actually gets installed in are two slightly different places:

[code]

[2018-12-18 19:35] wlads commented on #22
@jamilbk after changing the golang version did you open a new terminal?

[2019-03-25 10:55] feluxe opened #23 "cannot find GOROOT directory: /usr/lib/go"
**Describe the bug**

I installed `asdf-golang`. When I run a `go` command I get an error.

**To Reproduce**

Steps to reproduce the behavior:
1. `$ asdf plugin-add golang https://github.com/kennyp/asdf-golang.git`
2. `$ asdf install golang 1.12.1`
3. `$ asdf global golang 1.12.1`
4. `$ go run myfile.go`

Error:

**Expected behavior**

I expected go to work without the error.

**Desktop (please co

[2019-04-04 12:54] homburg commented on #23
@feluxe Do you still have the issue? Can you supply the output of these commands for debug:

`env | grep GOROOT`
`which go`
`go env GOROOT`

[2019-04-04 13:57] feluxe commented on #23
Thanks for your reply!

Strange...I haven't changed anything since I reported, but I just tried again and it works now. So I think the issue was on my side. Sorry!

Anyways... I leave the output of your commands here, in case anyone runs into the same issue:

[code]

[code]

[code]

Hope it helps...

[2019-04-04 13:57] #23 closed

[2019-04-05 22:17] homburg commented on #23
You're welcome! Thanks for the update.

Everything looks correct, might have been a PATH/rehash issue

[2019-05-08 18:04] kennyp commented on #22
I think we're all good here, but let me know if I'm missing something @carlca.

[2019-05-08 18:04] #22 closed

[2019-05-20 12:37] kunthar commented on #5
i propose a small advancement:
[code]

[2019-08-08 06:17] yofriadi commented on #18
Hi I think this needs to get highlighted in README, because it doesnt work out of the box like nodejs did with npm.

Thank you

[2020-02-07 05:59] Claywd opened #27 "Path Variables missing or incorrectly set"
**Describe the bug**
When trying to reference GOPATH or GOBIN or GOHOME, all these variables are missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  your source directory containing whatever code
2. run `go env GOBIN` and nothing is returned.
3. run `go env GOPATH` and the path leaves out the 'go' folder after the version and before whatever folder is next
4. returns `/Users/user

[2020-02-07 06:14] Claywd commented on #27
Once I deleted the entire golang installation and reinstalled with asdf, it worked... I still had to declare my own GOPATH but it worked.

[2020-02-07 06:14] #27 closed

[2020-02-24 10:01] MuhmdRaouf opened #28 "Both `$GOPATH` or `$GOROOT` are not set & request for a custom place to use my installed go version"
**Describe the bug**
Both `$GOPATH` or `$GOROOT` are not.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Install go using asdf-golang
2. switch to any version of the currently installed go
3. echo `$GOPATH` or `$GOROOT`
4. return emptiness :D

**Expected behavior**
To Have `$GOPATH` & `$GOROOT` set.

**Desktop (please complete the following information):**
 - OS: macOS Catalina Versi

[2020-02-29 23:08] jackmac92 opened #29 "Support installing default `go get` packages as post-install hook"
**Describe the solution you'd like**
After installing a new version of go, run
[code]

**Additional context**
asdf-node and [asdf-python](https://github.com/danhper/asdf-python/blob/b544ac9e512b1d95ad80d432b47b181be40199c0/bin/install#L23) both support this

[2020-03-14 16:02] wmcnamee-tunein commented on #28
I've found this alias is useful

[code]

I have this alias called in my `.zshrc` or `.bashrc` files, but I find that I need to call this everytime I switch to a new project.

[2020-04-06 11:05] andrelaszlo commented on #22
Also check your shell rc files for old `GOROOT` and `GOPATH` entries.

[2020-04-17 18:03] jpmcb commented on #28
+1 for this.

Also, it'd be great if the `GOBIN` was set. Currently I have to manually set this.

[2020-04-28 12:00] rwngallego commented on #27
I'm having exactly the same issue. This is a fresh install of golang.

[2020-06-01 16:54] ferismed commented on #23
I have the same issue
can somenody help me
 I have this results:
go build main.go
go: cannot find GOROOT directory: /usr/lib/go

env | grep GOROOT
GOROOT=/usr/lib/go

which go
/usr/local/go/bin/go

 go env GOROOT
go: cannot find GOROOT directory: /usr/lib/go

[2020-06-16 22:12] #29 closed

[2020-06-16 22:51] kennyp commented on #28
I generally set my defaults in `~/.bashrc` and set project local versions in `~/.envrc` and use [direnv](https://direnv.net/) to set/unset. With the latest versions of `asdf` there is the ability to add a hook for environment variables, but it seems like it could get hairy to determine when I should override what the user already has in their env.

[2020-06-16 22:55] kennyp commented on #28
Any advantages you see to trying to handle that here? I mean I could see setting them in the env hook if they’re not already set. Thoughts?

[2020-07-03 15:23] jhoonb commented on #28
Any solution?

[2020-07-13 16:22] kennyp opened #33 "Fix case where only patch version is installed when using go.mod"
Hello, I found an unexpected edge case with this feature :)

The version in the `go.mod` file should be specified as `x.y` and does not allow patch revisions (like `1.14.2`, see [`go directive` docs in Go Module reference](https://golang.org/ref/mod#tmp_12)).

Trying to use a version in the form `x.y.z` in the `go.mod` produces this error:

[code]

This creates an edge cases where you don't have a

[2020-07-13 20:30] #33 closed

[2020-07-31 12:37] adampetrovic commented on #29
this doesn't seem to work for me. tried on a new install:

[code]

[2020-08-03 15:08] kennyp opened #35 "Default Packages Failing - New Install"
this doesn't seem to work for me. tried on a new install:

[code]

It seems that `$ASDF_INSTALL_PATH` is empty on the line:
[code]

_Originally posted by @adampetrovic in https://github.com/kennyp/asdf-golang/issues/29#issuecomment-667098573_

[2020-08-03 15:09] kennyp commented on #35
@adampetrovic What version of ASDF are you using?

[2020-08-05 11:36] RafalSkolasinski commented on #28
it'd be good to document this in readme - what user needs to do for these to be set properly with `asdf-golang`

[2020-08-05 12:21] AxelRHD opened #36 "godoc not properly linked in new version 1.14.6 (after installation)"
**Describe the bug**
I just installed GO version 1.14.6 with asdf. After that (and installing godoc manually, because it is no longer default in installation) the function `godoc` does not work anymore. I get the following message:

**To Reproduce**
Steps to reproduce the behavior:
1. `asdf install golang 1.14.6`
2. `asdf global golang 1.14.6`
3. `go get golang.org/x/tools/cmd/godoc`
4. `asdf resh

[2020-08-18 09:15] tomsquest opened #37 "`got get` install in `~/go/bin`, no shims"
**Describe the bug**

After, `go get` and `reshim`, the downloaded binary is placed in `$HOME/go/bin` and no shim of the binary is present, so the binary is not found in `$PATH`.

**To Reproduce**

[code]

**Expected behavior**

After `go get` + `reshim`, a shim should exist pointing to `qtc`

**Desktop (please complete the following information):**
 - OS: Linux
 - Version: asdf version v0.7.8-4a3

[2020-08-19 01:45] jaimem88 commented on #23
@ferismed Restarting the shell worked for me

[2020-08-19 13:08] tomsquest commented on #37
Closing: seems it was a local problem, this morning, `qtc` is installed in `/home/tom/.asdf/installs/golang/1.13/packages/bin/qtc` which is then found in $PATH...

[2020-08-19 13:08] #37 closed

[2020-08-19 13:08] tomsquest commented on #37
Sorry for the noise.

[2020-08-25 02:27] gasuketsu opened #38 "Remove packages under $ASDF_INSTALL_PATH when uninstalling"
**Is your feature request related to a problem? Please describe.**

Uninstall golang with `asdf uninstall golang <version>` fails if we have packages installed with `go get` command like below.

![image](https://user-images.githubusercontent.com/15703757/91113912-a46e7380-e6c1-11ea-9d86-f5852e89ab85.png)

The reason of this failure is no write permission for directories and files under `$ASDF_INST

[2020-08-31 18:38] ggilmore commented on #28
@kennyp

I recently had this issue while using `asdf-golang` in my Github Actions pipeline. My `goreleaser` build step was failing when I was using just asdf-golang: https://github.com/goreleaser/goreleaser-action/issues/241, but `goreleaser` worked when I switched from `asdf-golang` to https://github.com/actions/setup-go.

After some debugging, I realized one of the differences between the two wa

[2020-10-03 20:39] harsh-kk commented on #23
env | grep GOROOT                                                                                             2 ⨯
GOROOT=/usr/lib/go

which go
/usr/local/go/bin/go

go env GOROOT
go: cannot find GOROOT directory: /usr/lib/go

#need_help

[2020-10-23 20:51] djmarcin commented on #35
This doesn't work for me either on asdf v0.8.0-c6145d0. If go has ever been installed before, then it works because of the `go` shim, but for completely fresh installs it doesn't seem to work.

[2020-11-12 16:33] AnthonyWhitaker commented on #28
Thanks, this has indeed been helpful. I made a slight modification since the sed parsing didn't quite work for my version of asdf.

[code]

[2020-11-13 17:17] robododge commented on #5
#Use the "where" command
GOV=$(asdf where golang)
export GOROOT=$GOV/go

[2020-11-18 18:13] pokstad commented on #23
I'm also running into this. I have a workaround in my `.zshrc`:

[code]

However, this will break anytime I change directory somewhere that has a new `.tool-versions` file.

[2020-12-08 18:35] #35 closed

[2020-12-08 18:38] #38 closed

[2020-12-08 18:51] kennyp commented on #36
Hmm, I can't reproduce. I followed the same steps and `godoc` works as expected. What does your `go env` look like? And are you using the latest version of `asdf` and the plugin?

[2020-12-25 19:37] dreyescat commented on #36
In case it is helpful...

I had the same *issue*. It was because I changed the `GOBIN` environment variable to point to a personal `~/bin` folder but forgot to add this folder to the `$PATH`.

Running `go get golang.org/x/tools/cmd/godoc` installed the `godoc` binary in my personal `~/bin` folder instead of the default `.asdf` one. So it was not _accessible_ because such folder was not in the `$PA

[2021-01-01 23:31] kennyp commented on #28
@ggilmore So looking at your case it seems like other tools need to know where the `GOROOT` is and try to get it from the env instead of asking go. The `bin/exec-env` script properly sets both the `GOROOT` and the `GOPATH` and other scripts could get that info from `go env GOROOT` for example.

I'm still game to do something if we can figure out a clean way to update the env, but I don't know anyt

[2021-01-01 23:32] kennyp commented on #28
@RafalSkolasinski What do you have in mind when you say?

Are you asking what you should add to an envrc file or something like that?

[2021-01-25 21:29] awichmann-mintel opened #47 "/home/awichmann/.asdf/plugins/golang/bin/install: line 65: ASDF_DOWNLOAD_PATH: unbound variable"
**Describe the bug**
My teammate and I are both unable to get this plugin to work out of the box. We both hit an error `ASDF_DOWNLOAD_PATH: unbound variable`. After setting that envvar, we got the error `tar (child): /home/awichmann/Downloads/archive.tar.gz: Cannot open: No such file or directory`. If you download the latest archive like `wget https://golang.org/dl/go1.15.7.linux-amd64.tar.gz -O $

[2021-01-25 21:30] awichmann-mintel commented on #47
oh...
I just had to update asdf
:facepalm:

[2021-01-25 21:33] #47 closed

[2021-03-04 04:04] cho-m opened #48 "Any reason list-all versions can't be obtained from 'github.com/golang/go' or 'go.googlesource.com/go/+refs'?"
I was originally looking at this because `asdf latest golang` (which uses `list-all` internally) is noticeably slower than some of my other asdf plugins. Looking at some hyperfine benchmarks, I see it takes around 5s to complete compared to nodejs (0.5s) and python/ruby (60ms).

I assume part of that is the extra processing for truncated data + XML handling.

I was wondering if asdf-golang could j

[2021-04-13 07:48] slewsys commented on #36
_asdf-golang_ is working correctly for me too (Ubuntu and Fedora).  The critical step appears to `asdf reshim golang` since installed utilities initially don't appear in the _~/.asdf/shim_ directory.

[2021-05-08 16:20] nikhilgeo opened #51 "No go executable found for golang system"
**Describe the bug**
Installed latest golang with asdf but go executable cannot be found.

~ $ asdf version
v0.8.0
~ $ asdf install golang latest
~ $ go version
go version go1.16.4 darwin/amd64
~ $ cd ~/Test/
Test $ go version
No go executable found for golang system

**Expected behavior**
go executable could be found from any folder.

[2021-05-12 17:54] kennyp commented on #36
I'm not sure that there's anything else to do to totally prevent other people from running into this issue. Any ideas, or maybe I'll just close this for now?

[2021-05-12 18:16] kennyp commented on #48
:thinking:  The reason for working from the bucket to begin with so we could be sure it's available to download from `dl.google.com`. What are your thoughts on how we would avoid listing tagged versions that aren't available?

[2021-05-12 18:18] kennyp commented on #51
Hey @nikhilgeo, did you try setting `asdf local golang 1.16.4` or `asdf global golang 1.16.4`?

[2021-05-12 18:58] cho-m commented on #48
I think the main issue is old versions (I previously saw v1 up to v1.2.1, which I don't think are available to download).
I don't know how often newer tags have issues.
May need to see if the bucket and git repos are updated in-sync.

---

Currently, using the bucket does have its own quirks.
For example, it is showing some versions that probably shouldn't be accessed:
[code]

---

Also, some of t

[2021-05-15 08:17] slewsys commented on #36
Yeah, just wanted to document the issue.  Thanks!

[2021-05-15 12:40] kennyp commented on #36
👍

[2021-05-15 12:40] #36 closed

[2021-05-31 18:07] schweigert opened #53 "Go install don't work"
**Describe the bug**

$GOPATH and $GOROOT isn't correctly started when install, use or select a go version using asdf-golang.
Executables can't run because $GOPATH and $GOROOT isen't setted.

**To Reproduce**

Run this steps:

[code]

**Expected behavior**

sql-migrate must be accessible.

[2021-06-15 22:05] kennyp commented on #53
Have you done a reshim?

https://github.com/kennyp/asdf-golang/#when-using-go-get

[2021-06-15 22:05] kennyp commented on #51
I assume you're all good and I'll close this for now.

[2021-06-15 22:05] #51 closed

[2021-06-17 15:21] austince commented on #28
Could something like what the Java plugin does work here as well, with `precmd` hooks to update the env? https://github.com/halcyon/asdf-java/blob/5b8533eb2b2c8215165bdd9568c5cb9441a94e13/set-java-home.zsh

[2021-06-17 17:16] Matts966 commented on #28
Using https://github.com/asdf-community/asdf-direnv with global `.tool-versions` and `.envrc` for overriding solves all the problems for me.

[2021-06-17 17:26] MuhmdRaouf commented on #28
@Matts966 can you give us an example or snippet from your configs please to help us how we can do it.

[2021-06-17 17:56] Matts966 commented on #28
@MuhmdRaouf
Here is my dotfiles https://github.com/matts966/dotfiles-open.

- `.zshrc`
  - https://github.com/Matts966/dotfiles-open/blob/a43f90bcdee2c0a0e9efb72f4ed7524e444948f8/.zshrc#L73-L75
- `.config/direnv/direnvrc`
  - https://github.com/Matts966/dotfiles-open/blob/main/dir
- `.tool-versions`
  - https://github.com/Matts966/dotfiles-open/blob/main/.tool-versions
- `.envrc` to override defau

[2021-06-28 14:58] kennyp commented on #53
I'm going to assume you forgot to reshim or got it figured out otherwise. Feel free to re-open if you're still having issues.

[2021-06-28 14:58] #53 closed

[2021-07-28 20:00] lifeiscontent opened #57 "`go version` produces error"
**Describe the bug**
when running `go version` this is the output I see.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
no error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser

[2021-08-20 23:51] jmromer opened #58 "Read default package path from ASDF_GOLANG_DEFAULT_PACKAGES_FILE env var"
**Is your feature request related to a problem? Please describe.**

ASDF allows for [customizing the location](http://asdf-vm.com/manage/configuration.html#environment-variables) of its data directories and configuration files (e.g., `ASDF_DEFAULT_TOOL_VERSIONS_FILENAME`) — this is useful for organizing user config files in accordance with the [XDG base directory spec](https://specifications.freed

[2021-08-24 22:03] lifeiscontent commented on #57
@kennyp can you please take a look at this?

[2021-09-06 19:31] trallnag commented on #48
How about introducing a very basic form of caching? Writing the already processed data to something like `~/.cache` and loading it when the checksum of the downloaded non-processed data matches a key stored next to the cached data.

Though I don't know if its the processing of the XML that takes the most time and if pickling the processed data within Bash can be easily done

[2021-09-07 16:58] trallnag commented on #28
Why do we need `GOPATH`?

<https://stackoverflow.com/a/53026674/7391331>

[2021-10-29 21:00] TechnologyClassroom opened #64 "Compilation Question"
Does asdf-golang have any interest in a compilation option in the future?  I ran this command `asdf install golang ref:$(asdf latest golang)` expecting compilation, but received a binary installation instead.

[gvm](https://github.com/moovweb/gvm#a-note-on-compiling-go-15) solves the bootstrapping issue by first compiling go1.4 and then compiling later versions.

I have a script that does this and

[2021-11-10 15:25] jabrown85 opened #65 "asdf-golang is not selecting the expected version using legacy_version_file"
**Describe the bug**
asdf-golang is not selecting the expected version using only a `go.mod`

**To Reproduce**
[code]

I know `legacy_version_file` is being respected given the output from `go-test asdf current golang`, but it seems to be picking the latest matching major version.

**Expected behavior**
I would expect `go-test asdf current golang` and subsequently `go version` to produce `1.14`

*

[2021-11-16 14:54] kennyp commented on #65
Hey Jesse, the current behavior is actually what is intended based on how `go.mod` is described in the go docs.

- https://golang.org/ref/mod#go-mod-file-go
- https://github.com/kennyp/asdf-golang#version-selection

For an exact version I would use a `.tool-versions` file.

[2021-11-16 14:54] #65 closed

[2021-11-16 14:56] kennyp commented on #64
I haven't actually thought about it to be honest. What would be the reason you want to do the compilation instead of the binary release?

[2021-11-16 14:56] kennyp commented on #57
I'm going to close this for now, but please re-open if it's still an issue.

[2021-11-16 14:56] #57 closed

[2021-11-16 14:58] #48 closed

[2021-11-16 17:06] TechnologyClassroom commented on #64
Trust, the ability to customize the source, the ability to customize the build flags, the ability to install development versions, etc.

[2021-11-16 21:15] kennyp commented on #64
I would be happy to collaborate on something like that. You said you have a script that we could use as a starting point?

[2021-11-16 21:28] TechnologyClassroom commented on #64
I do have a script, but the licensing is incompatible with MIT.

The [gvm](https://github.com/moovweb/gvm#a-note-on-compiling-go-15) project has the functionality and also uses MIT.  Relevant [line in the install file](https://github.com/moovweb/gvm/blob/master/scripts/install#L82).

[2021-12-03 21:09] lifeiscontent commented on #57
@kennyp

[code]

[2021-12-30 12:40] myhro commented on #65
Hi Kenny,

I'm trying to find a way to overcome this behavior - which I totally get the reasoning, but it's not working for my specific use case.

I'm using Go `1.18beta1` for a single project where I'm exploring its new features. The problem is that when there isn't a local `.tool-versions` on all the other repositories, it reads `go 1.17` from `go.mod` and ends up selecting the `1.18beta1` one.

[2022-01-16 23:36] kennyp commented on #65
Hey @myhro,

In your `.tool-versions` file if you use `1.17.5` based on the output you should be good.

There is an option to turn off the legacy version support in asdf. https://asdf-vm.com/manage/configuration.html#legacy-version-file

But then you would still need to set `golfing 1.17.5` in your `.tool-versions` file.

[2022-01-17 09:58] myhro commented on #65
Hi Kenny,

This exactly what I want to avoid. I would like to stick to whatever `1.17.x` I have available, without specifying the minor release or the `go.mod`-based fallback sticking to the `1.18.x` beta versions.

Currently, I can only do that by opting for the legacy version support.

[2022-01-17 14:57] kennyp commented on #65
That sounds like an interesting feature for asdf in general. Specify major
or major/minor and you get the latest version that matches. 🤔

On Mon, Jan 17, 2022, 04:58 Tiago Ilieve ***@***.***> wrote:

[2022-02-05 03:23] ashleyconnor opened #68 "`go get` deprecated on versions 1.18.x"
**Describe the bug**
Looks like `go get` is [deprecated](https://go.dev/doc/go-get-install-deprecation) in versions `1.18.x` which breaks the default packages feature of this plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. `echo 'golang.org/x/tools/gopls' >>  $HOME/.default-golang-pkgs`
2. `asdf install golang 1.18beta2`
3. See error below

[code]

**Expected behavior**
`gopls` to be

[2022-02-09 19:17] kennyp commented on #68
Hey @ashleyconnor there's already a PR in to fix this #67, but I was just waiting on the author to validate my change to their original PR before merging. I'll go ahead and merge it and you can let me know if you have any more issues.

[2022-02-09 19:17] #68 closed

[2022-02-09 22:31] willduarte opened #69 "go1.17.7.darwin-arm64.tar.gz returned status 404 (not found)"
**Describe the bug**
I tried to install the 1.17.7 version from asdf golang plugin and got the message.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the install command

**Expected behavior**
OK result and the version listed by `asdf list golang` command

[2022-02-11 04:24] ashleyconnor commented on #68
Tested and working. Thanks @kennyp and @jm96441n!

[2022-02-19 18:02] rubiin opened #71 "Go cli not working"
**Describe the bug**
tried `go get github.com/pilu/fresh` and `fresh`. Got command `fresh` not found

**To Reproduce**
Steps to reproduce the behavior:
1. Install andy cli via go get and run the cli

**Expected behavior**
Cli should e invoked

**Screenshots**
Screenshot: https://i.imgur.com/D9UU7Pv.png

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chr

[2022-02-24 16:44] dgalmeida commented on #69
Same issue here, weird cuz the download urls seems exactly of [google](https://go.dev/dl/) page.

[2022-02-28 18:55] rubiin commented on #71
@kennyp ?

[2022-02-28 19:47] kennyp commented on #71
@rubiin I've been hesitant to add more overhead by doing more with shims and instead I've been using [asdf-direnv](https://github.com/asdf-community/asdf-direnv) to avoid shims all together.  There's a note in the README about needing to reshim, and I could add a note to look at `asdf-direnv`. Thoughts?

[2022-02-28 19:50] kennyp commented on #69
It looks like there is a bit of time between when a release is tagged and when it's actually available. I added a [latest-stable](https://github.com/kennyp/asdf-golang/blob/master/bin/latest-stable) script to avoid picking up a version that wasn't available yet, but I didn't change `list-all` to do a similar check. Shouldn't be too hard.

[2022-02-28 19:59] kennyp commented on #69
@willduarte or @dgalmeida I assume you can both install `1.17.7` now?

[2022-02-28 21:15] dgalmeida commented on #69
Yep! That works fine... Thanks for you job! By the way, to try an old version (< 1.16 ) leads to 404 also. Whiteout saying that darwin-arm64 isn't compiled available before 1.16.

[2022-02-28 21:55] kennyp commented on #69
Yeah, I think I should probably do some sort of cache where I validate all of the combinations of arch, os, and version in order to eliminate those sorts of cases as well.

[2022-03-01 16:58] #71 closed

[2022-03-01 17:41] sosheskaz opened #73 "bin/latest-stable does not filter on user input"
**Describe the bug**

When querying latest with a version filter, per [the docs](https://asdf-vm.com/plugins/create.html#bin-latest-stable), it should accept one argument, a filter, and apply that filter to the list of versions, returning the latest version which matches.

**To Reproduce**

[code]

**Expected behavior**

[code]

**Screenshots**

N/A

**Desktop (please complete the following inform

[2022-03-07 19:49] #73 closed

[2022-03-18 09:44] matino commented on #69
I get the same error when downloading 1.18.0 version:
[code]

[2022-03-18 13:21] willduarte commented on #69
thanks @kennyp !
@matino try to install as `asdf install golang 1.18`

[2022-03-18 14:32] matino commented on #69
@willduarte that did the trick, thanks a lot!

[2022-03-20 21:39] #69 closed

[2022-03-23 18:16] ryanschneider opened #75 "Go 1.18.0 is hosted on go.dev"
https://github.com/kennyp/asdf-golang/blob/cc8bc47d4877beed61e10815d46669e1eaaa0bbe/bin/download#L37

Looks like 1.18.0 is only on go.dev:

[code]

https://go.dev/dl/go1.18.darwin-arm64.tar.gz on the other hand exists.

[2022-03-24 19:03] ryanschneider commented on #75
Oh n/m it's because it's `1.18` not `1.18.0` I missed that in the go.dev URL.

[2022-03-24 19:03] #75 closed

[2022-04-17 07:19] meinside opened #78 "`asdf install golang` fails silently on WSL2 (Ubuntu 20.04 LTS)"
**Describe the bug**
On Windows 11 with WSL2 (Ubuntu 20.04 LTS) `asdf install golang` fails silently.

It only prints out:

[code]

When I look into directories:

* .asdf/installs/golang/
* .asdf/downloads/golang/1.18.1/

there are no files in them, they are just empty.

**To Reproduce**
Steps to reproduce the behavior:
1. On WSL2 (Ubuntu 20.04 LTS)
2. Type `asdf install golang`
3. Wait for it to

[2022-04-17 07:25] meinside commented on #78
Sorry for my false alarm, it was due to my proxy settings.
After turning them off, it works as expected.

[2022-04-17 07:25] #78 closed

[2022-04-20 02:23] MESMUR opened #79 "ASDF-Go Picking Incorrect Go Version from go.mod"
**Describe the bug**
My asdf-golang installation seems to be picking the wrong go version for a project.
It is:
a) Picking the version from the go.mod file that is present, but the incorrect version
b) Ignoring the .tool-versions file present in the parent directory

I suppose b) is normal behavior IF the go.mod file takes precedence over .tool-versions present in the closest parent directory.

**

[2022-05-12 11:20] jhchabran commented on #79
@MESMUR landed here as I was facing the same issue. Fixed it by removing the `legacy_version_file = yes` from `~/.asdfrc` if that can help.

[2022-05-13 08:42] dimasdanz opened #81 "[Mac M1] Mutliple arch of the same version"
**Is your feature request related to a problem? Please describe.**
There are several projects that is immediately compilable on arm. It does not require using installing go using `ASDF_GOLANG_OVERWRITE_ARCH`. But there are projects that is not immediately compilable due to its dependency not having arm build (i.e. that depends on [this](https://github.com/confluentinc/confluent-kafka-go/issues/591

[2022-05-14 03:52] MESMUR commented on #79
Thanks @jhchabran, that resolved the issue for me. I'll close the issue ;)

[2022-05-14 03:52] #79 closed

[2022-06-30 16:27] thinca opened #83 "Infinite recursive call in `asdf list golang`"
**Describe the bug**
https://github.com/asdf-vm/asdf/pull/762
Since this change of asdf core, `asdf list golang` may call `parse-legacy-file` script internally.
[`parse-legacy-file`](https://github.com/kennyp/asdf-golang/blob/cc8bc47d4877beed61e10815d46669e1eaaa0bbe/bin/parse-legacy-file) script invokes `asdf list golang`.
The result is an infinite recursive call.

**To Reproduce**
Steps to reprod

[2022-07-12 04:59] 4k1k0 opened #84 "How to install old go versions on apple m1?"
**Describe the bug**
I'm trying to install go 1.11 on a mac with the m1 chip but fails with the following error:

[code]

Of course the http request gets an 404 status since 1.11 does not have a arm64 version but a amd64 one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
I would like to be able to i

[2022-07-12 13:41] Jordhan-Carvalho opened #85 "`go get -u $PACKAGES` deprecated"
**Describe the bug**
Can't get the default packages to be installed by following the readme... `go get` is deprecated, it is supposed to be using `go install`, tried to figure out how to do it with go install but my knowledge in go is really limited (just getting started)

**To Reproduce**

1 - Follow the README `Default go get packages` section
2 - Error message
[code]

**Expected behavior**
The

[2022-07-12 17:51] 4k1k0 commented on #84
The info is on the README. Thank u.

[2022-07-12 17:51] #84 closed

[2022-08-25 03:13] chenrui333 opened #86 "Does not respect the `${HOME}/.tool-versions` or `${HOME}/.go-version`"
I just found out an issue that somehow the plugin does not respect the config files in the user home directory, but it does respect the config files in the project directory.

Not quite sure what caused the issue, (I am using the latest `asdf`, installed via `brew`). Thanks!

[code]

[2022-11-02 18:45] edolnx opened #90 "Download checksum verification fails on FreeBSD 13.1"
**Describe the bug**
When attempting to download the golang archive on FreeBSD 13 the checksum fails to verify with the following error:
[code]
This can be worked around by temporarily renaming the `sha256sum` tool to `sha256sum.fbsd` and re-running the installer.

**To Reproduce**
Steps to reproduce the behavior:
1. On a FreeBSD 13.1 amd64 system, attempt to `asdf install golang 1.17.13`
2. See e

[2022-11-05 04:08] yokonao commented on #83
@kennyp
Hi! I'm sorry to bother you when you're busy.

This issue is critical for asdf users which' enable legacy_version_file.
One solution is to revert #34 . Another is listing installed versions independent from `asdf list` command (a little complex and redundant).

I would like to work on solving this problem, so please let me know the desired solution!

[2022-11-06 14:07] vyneer opened #91 "Versions prior to 1.5.4 don't have checksum files available, which renders them impossible to install"
**Describe the bug**
It seems like a ```.sha256``` file only started getting provided with the downloads [somewhere in 2016](https://go.googlesource.com/build/+/24f7399f96feb8dd2fc54f064e47a886c2f8bb4a), which leads to this plugin being unable to install versions older than that because of a failed checksum check.

**To Reproduce**
Steps to reproduce the behavior:
1. ```asdf install golang 1.5.3``

[2022-11-06 20:03] kennyp commented on #83
@yokonao I'm using `asdf` version `v0.10.2-7e7a1fa` and I can't reproduce. :thinking:

I'm working on pulling out the recursive call back into `asdf list`, but it would be great to reproduce before saying I've fixed it if that makes sense.

[2022-11-07 00:23] yokonao commented on #83
@kennyp
[This PR](https://github.com/asdf-vm/asdf/pull/762) is merged after released v0.10.2. So, it makes sense that You are unable to reproduce when `v0.10.2-7e7a1fa`.
Howerver, this problem occurs if v0.10.3 is released in the future.

Please try to reproduce using latest `asdf`.

[2022-11-18 10:21] Xilis commented on #85
I think you just need to update your plugin, `asdf plugin update --all`.

https://github.com/kennyp/asdf-golang/blob/master/bin/install#L47 shows that both `go install` and `go get -u` are supported based on the go version

[2022-11-18 17:57] kennyp commented on #85
Thanks for responding @Xilis!

@Jordhan-Carvalho if the update doesn't fix it, feel free to re-open and I can dig in more.

[2022-11-18 17:57] #85 closed

[2022-11-18 17:59] kennyp commented on #83
Ahh, I missed the note that you were using `asdf` head. Let me see what I can figure out.